/* Variables */
:root {
  --main-purple: #6542a4;
}

.Top {
  font-size: 1rem;
  position: relative;
  z-index: 10;
  height: 90px;
}

.border-box {
  background: rgb(144, 121, 201);
  background: linear-gradient(
    135deg,
    rgba(144, 121, 201, 1) 4%,
    rgba(178, 238, 118, 1) 17%,
    rgba(205, 185, 239, 1) 39%,
    rgba(233, 240, 231, 1) 56%,
    rgba(126, 209, 83, 1) 72%,
    rgba(91, 42, 162, 1) 94%
  );
  padding-bottom: 0.5rem;
}

.nav-overlay {
  background: whitesmoke;
}

.brand {
  height: 70px;
}

a:hover {
  text-decoration: none;
}

.logo {
  margin-top: 8rem;
  margin-bottom: 1rem;
  height: 200px;
}

/* .dropdown {
  margin-right: 3rem;
}

.dropdown .dropdown-menu a:hover {
  color: #fff;
  background-color: var(--main-purple);
  border-color: #fff;
} */

.isearch-logo {
  text-align: center;
}

.search {
  margin-top: 2rem;
  text-align: center;
}

/* .search-btn {
  margin-top: 2px;
  margin-left: 50px;
  color: #fff;
  background: var(--main-purple);
  border-radius: 20px;
  padding: 4px 10px;
} */

.search-input {
  padding: 0.2rem;
  /* border-radius: 50px; */
  /* border: var(--main-purple); */
}

.new-search {
  text-align: center;
  margin-top: 2rem;
  text-decoration: underline;
}

/* .saved-search {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
} */

.card {
  margin: 2rem;
}

/* position footer at bottom of page and will move down based on how much content is on the page */
.footer {
  flex-shrink: 0;
  text-align: center;
}

/* overlay for footer - same as nav */
.footer-overlay {
  padding: 0.75rem;
  background: whitesmoke;
  /* background: rgba(222, 213, 245, 0.75); */
}

.border-box-footer {
  background: rgb(144, 121, 201);
  background: linear-gradient(
    135deg,
    rgba(144, 121, 201, 1) 4%,
    rgba(178, 238, 118, 1) 17%,
    rgba(205, 185, 239, 1) 39%,
    rgba(233, 240, 231, 1) 56%,
    rgba(126, 209, 83, 1) 72%,
    rgba(91, 42, 162, 1) 94%
  );
  padding-top: 0.5rem;
}