/* global styles */
/*@import '~material-design-icons/iconfont/material-icons.css';*/
/* @import url('../node_modules/material-design-icons/iconfont/material-icons.css');*/
/** material icon support
 * as per https://google.github.io/material-design-icons/
 * for self hosted icons
 *
 **
@font-face {
   font-family: 'Material Icons';
   font-style: normal;
   font-weight: 400;
   src: url(assets/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 *
   src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(assets/iconfont/MaterialIcons-Regular.svg) format('svg'),
        url(assets/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
	/*
        url(assets/iconfont/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2'),
	*
        url(assets/iconfont/MaterialIcons-Regular.woff) format('woff'),
        url(assets/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size *
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. *
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. *
  text-rendering: optimizeLegibility;

  /* Support for Firefox. *
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. *
  font-feature-settings: 'liga';
}
**/

/** styles.css - global styles **/
/** ./client/styles/shared/github-icons.less **/

/* Variables */
:root {
  --tool-tip-color: darkgreen;
  --btn-color: linear-gradient(to bottom, #876cb9 0%, #6542a4 100%);
  --main-purple: #6542a4;
}

/* main-font */
/* result-header-font-color */
/* main-font-size */
/* main-font-color */
/* tool-tip-color ✅  */
/* note-btn-color */
/* btn-color ✅  */
/* main-green */

.icon-result-flagged {
  /**
    background:URL('assets/images/red-flagged-24.png') no-repeat 5% 5%;
    **/
  background: URL('assets/images/red-flagged-24.png') no-repeat;
  /**
    background-image: URL('assets/images/red-flagged-24.png');
    background-size: cover;
    **/
  width: 30px;
  height: 30px;
}
.icon-result-notflagged {
  background: URL('assets/images/not-flagged-24.png') no-repeat;
  width: 30px;
  height: 30px;
}

/* note tooltips */
.note-tooltip .tooltip-inner {
  background-color: var(--tool-tip-color);
  /* background-color: darkgreen; */
  font-size: 125%;
}
.note-tooltip .arrow::before {
  border-top-color: var(--tool-tip-color);
  /* border-top-color: darkgreen; */
}
/* result tooltips */
.result-tooltip .tooltip-inner {
  background-color: var(--tool-tip-color);
  font-size: 125%;
  /* background-color: darkgreen; */
}
.result-tooltip .arrow::before {
  border-top-color: var(--tool-tip-color);
  /* border-top-color: darkgreen; */
}
/* Top and Bottom - same for all pages */
/*Flexbox gives us the flexiness we need. The top just stays put as there is no scrolling on the body due to the page never exceeding viewport height*/
.Top {
  /*display: flex;*/
  /*align-items: center;*/
  /*align-items: baseline;*/
  /*justify-content: center;*/
  /*justify-content: space-between;*/
  /*background-color: black;**/
  font-size: 2rem;
  /* button only? */
  position: relative;
  z-index: 10;
  height: 90px;
}

.Bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  position: relative;
  z-index: 10;
  height: 36px;
}
/*This is our main wrapping element, it's made 100vh high to ensure it is always the correct size and then moved into place and padded with negative margin and padding*/
.Container {
  display: flex;
  overflow: hidden;
  height: 100vh;
  /*
    height: auto;
    height: 100%;
    */
  margin-top: -90px;
  padding-top: 90px;
  margin-bottom: -36px;
  padding-bottom: 36px;
  position: relative;
  /**justify-content: flex-start;**/
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: overflow;
}
/*All the scrollable sections should overflow and be whatever height they need to be. As they are flex-items (due to being inside a flex container) they could be made to stretch full height at all times if needed.
WebKit inertia scrolling is being added here for any present/future devices that are able to make use of it.
*/
.Query {
  display: flex;
  /*flex: 1 1 auto;*/
  flex-direction: column;
  overflow: hidden;
  /*height: 100vh;*/
  /*height: auto;*/
  /*height: 100%;*/
  /*padding: .5rem;*/
  position: relative;
  /*flex: 1 1 410px; /* lose scrollbar */
  flex: 1 0 410px;
  width: 410px;
  /* should be 400px + scrollbar*/
  /*
    backface-visibility: hidden;
    will-change: overflow;
    */
  /**
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    **/
}

.Search {
  height: 60px;
  max-width: 88%;
  width: auto;
  margin: 5px;
  flex: none;
}

.Map {
  display: flex;
  height: 155px;
  width: auto;
  margin: 5px;
  /* flex: none; */
}
.Map2 {
  border: 3px blue;
  width: auto;
  max-width: 90%;
  /*position: relative;*/
  /*z-index forces to the front*/
  z-index: 999;
  /*margin: 1em 0;
    padding: 4px;*/
  min-width: 160px;
  /**background: #fcfaf0;**/
  background: white;
  /* flex: none;*/
  /*overflow: scroll;*/
  overflow: hidden;
  /*transition: .6s cubic-bezier(0, 1.25, .5, 1)*/
}
.Map2:hover,
.Map2:focus {
  /* border: 3px blue;*/
  /*background: #e0d8b7;*/
  background: white;
  /* flex: none;*/
  overflow: scroll;
  position: fixed;
  transform: scale(1.35, 1.35);
}
.Query2 {
  margin-top: 8px;
  margin-left: 8px;
  flex: 1 1 auto;
  /*overflow: auto; will NOT show scroll if list is short */
  overflow: scroll;
  /*height: auto;*/
  height: 100%;
  /* padding: 0.5rem; */
  /**
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    **/
}
/* global Scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
  height: 0px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px olivedrab;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: yellowgreen;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:hover {
  background: #7bac10;
}

/* html {
  --scrollbarBG: #CFD8DC;
  --thumbBG: #90A4AE;
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
} */

.brand {
  height: 70px;
}

.brand:hover {
  border-bottom: 2px solid var(--main-purple);
}

/* global purple and green color buttons and text */
/* import, share, archive, trash */
.p-btn {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  text-transform: uppercase;
  color: #fff;
  /* border-radius: 4px; */
  border-radius: 20px;
  font-weight: 500;
  font-size: 15px;
  width: 100px;
  /* padding: 4px 19px; */
  letter-spacing: 1px;
  text-decoration: none;
  background: var(--btn-color);
}

.search-input {
  margin-left: 10px;
  /* border-bottom: 2px solid #6542a4; */
}

input:focus {
  /* border: 0;  */
  outline: none !important;
}

.note-btn {
  /* background-color: #ece7e6; */
  padding: 0px;
  border-radius: 10px;
}

.note-btn:hover {
  /* background-color: #7bac10; */
  padding: 0px;
  border-radius: 10px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* search button - does not change on hover */
/* #button-addon {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  text-transform: uppercase;
  color: #fff;
  border-radius: 20px;
  font-weight: 500;
  font-size: 15px;
  width: 100px;
  margin: 5px;
  letter-spacing: 1px;
  text-decoration: none;
  background: linear-gradient(to bottom, #876cb9 0%, #6542a4 100%);
} */

/* #button-addon:hover {
  background-color: #cfd8dc;
} */

.p-btn[disabled] {
  opacity: 0.5;
}
.p-btn2 {
  color: #fff;
  text-decoration: none;
  background: var(--btn-color);
}
.p-btn2[disabled] {
  opacity: 0.5;
  color: #fff !important;
  /* white */
  text-decoration: none;
  background: var(--btn-color);
}

/* which text?? 👀  */
.text-purple {
  color: #6542a4;
  /* purple */
  /* color: #876cb9; * light purple */
}

/* which buttons? 👀  */
.g-btn {
  display: inline-block;
  vertical-align: top;
  /*text-transform: uppercase;*/
  /*color: #000; black */
  color: var(--main-purple) !important;
  /* purple */
  border-radius: 4px;
  font-weight: 350;
  font-size: 15px;
  padding: 4px 19px;
  letter-spacing: 1px;
  text-decoration: none;
  /*background: -webkit-linear-gradient(top, #876cb9 0%, #6542a4 100%);*/
  background: #fff;
  /* white */
}

/* Which buttons? 👀  */
.g-btn-active {
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  color: #fff !important;
  /* white */
  border-radius: 4px;
  font-weight: 500;
  font-size: 15px;
  /*padding: 4px 19px;*/
  padding: 4px 5px;
  letter-spacing: 1px;
  text-decoration: none;
  /*background: -webkit-linear-gradient(top, #876cb9 0%, #6542a4 100%);*/
  background: yellowgreen;
}

/* note N buttons - Green/Grey buttons on the left*/
.n-btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid #6c757d;
  padding: 0.75rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* note N buttons - Green/Grey buttons on the left*/
.n-btn-active {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #fff !important;
  border-color: #6c757d;
  /* grey? */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #6c757d;
  border-radius: 0.25rem;
  font-weight: 400;
  font-size: 1rem;
  padding: 0.75rem 0.75rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  /*letter-spacing: 1px;
            text-decoration: none;*/
  /*background: -webkit-linear-gradient(top, #876cb9 0%, #6542a4 100%);*/
  background: yellowgreen;
}

.isearch-bg {
  background: URL('assets/images/ApplicationHeader.jpg') no-repeat top center;
  /***
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  ***/
  /*background-size: cover;*/
  /* has spaces on sides */
  /*background-size: contain; big spaces on sides */
  /* background-size: auto; same as cover */
  background-size: 100%;
  width: 100%;
}
/* modify ng-bootstrap styles - NOT working globally?*/
:host ::ng-deep .tabset1 {
  height: 100%;
}
:host ::ng-deep .tabset1 .tab-content {
  height: 100%;
  /* margin-top: -42px; /* nav-tab height */
  padding-top: 42px;
  /* needed to show tabs */
}
:host ::ng-deep .tabset1 .tab-pane {
  height: 100%;
  margin-top: -42px;
  /* nav-tab height */
  /*padding-top: 42px;*/
  /*color: #6542a4;*/
  font-weight: 300;
}

/* .nav-link {
  border-bottom: 3px solid black;
} */

.dropdown {
  cursor: pointer;
}

.nav-pills .nav-link {
  color: var(--main-purple);
  margin-left: 8px;
}

.nav-pills .nav-link.active {
  color: var(--main-purple);
  background-color: #fff;
  border-bottom: 2px solid var(--main-purple);
}
.nav-link:hover {
  border-bottom: 2px solid var(--main-purple);
}

h1[_ngcontent-qaq-c115] {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h2[_ngcontent-qaq-c115] {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}

nav[_ngcontent-qaq-c115] a[_ngcontent-qaq-c115] {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}

[_ngcontent-qaq-c115]::-webkit-scrollbar {
  width: 12px;
  height: 0px;
}
[_ngcontent-qaq-c115]::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px olivedrab;
  border-radius: 10px;
}
[_ngcontent-qaq-c115]::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: yellowgreen;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
[_ngcontent-qaq-c115]::-webkit-scrollbar-thumb:hover {
  background: #7bac10;
}

*[_ngcontent-qaq-c115] {
  box-sizing: border-box;
}

body[_ngcontent-qaq-c115] {
  overflow-x: hidden;
}

html[_ngcontent-qaq-c115],
body[_ngcontent-qaq-c115] {
  padding: 0;
  margin: 0;
  color: #ebebeb;
}
#spinner[_ngcontent-qaq-c49] {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 9999;
}
#spinner.backdrop[_ngcontent-qaq-c49] {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: none;
}
.colored-parent,
.colored > div {
  background-color: #333;
}

h1[_ngcontent-qaq-c133] {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h2[_ngcontent-qaq-c133] {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav[_ngcontent-qaq-c133] a[_ngcontent-qaq-c133] {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}

nav[_ngcontent-qaq-c115] a[_ngcontent-qaq-c115]:visited,
a[_ngcontent-qaq-c115]:link {
  color: #607d8b;
}
nav[_ngcontent-qaq-c115] a[_ngcontent-qaq-c115]:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav[_ngcontent-qaq-c115] a.active[_ngcontent-qaq-c115] {
  color: #039be5;
}

nav[_ngcontent-qaq-c133] a[_ngcontent-qaq-c133]:visited,
a[_ngcontent-qaq-c133]:link {
  color: var(--main-purple);
}
nav[_ngcontent-qaq-c133] a[_ngcontent-qaq-c133]:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav[_ngcontent-qaq-c133] a.active[_ngcontent-qaq-c133] {
  color: #039be5;
}

.MiddleContainer[_ngcontent-qaq-c133] {
  display: flex;

  flex: 1 1 auto;
  flex-direction: column;
  overflow: hidden;

  position: relative;
  width: 100%;
}

/* archive, trash, import, share buttons */
.ExtraButtons2[_ngcontent-qaq-c133] {
  width: 100px;
  margin: 5px;
  flex: none;
}

.Results[_ngcontent-qaq-c133] {
  flex: 1 1 auto;
  overflow: scroll;
  height: auto;
  /* margin-top: 8px; */
  margin: 8px;
  /* padding: 0.5rem; */
}

[_nghost-qaq-c133] .tabset1 {
  height: 100%;
}
[_nghost-qaq-c133] .tabset1 .tab-content {
  height: 100%;

  padding-top: 42px;
}
[_nghost-qaq-c133] .tabset1 .tab-pane {
  height: 100%;
  margin-top: -42px;

  color: #6542a4;
  font-weight: 300;
}

/* .nav-item[_ngcontent-qaq-c135] {
  margin-left: 7px;
} */

.searchButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

/* Search Button..... */
/* .searchButton[_ngcontent-qaq-c127] {
  width: 100px;
  margin: 5px;
} */

.mapBox[_ngcontent-qaq-c137] {
  border: solid;
  padding: 15px;

  height: 100%;
  margin-left: 26px;
}

.btn-space[_ngcontent-qaq-c130] {
  margin-top: 4px;
}

.results[_ngcontent-qaq-c128] {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0 0 0 0;
}
.results[_ngcontent-qaq-c128] li[_ngcontent-qaq-c128] {
  position: relative;
  cursor: pointer;
  background-color: #eee;
  margin: 0.5em;

  height: 1.6em;
  border-radius: 4px;
}
.results[_ngcontent-qaq-c128] li[_ngcontent-qaq-c128]:hover {
  color: #607d8b;

  background-color: #ddd;
  left: 0.1em;
}
.results[_ngcontent-qaq-c128] a[_ngcontent-qaq-c128] {
  color: var(--main-purple);

  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
}
.results[_ngcontent-qaq-c128] a[_ngcontent-qaq-c128]:hover {
  color: #607d8b;
}
.results[_ngcontent-qaq-c128] .badge[_ngcontent-qaq-c128] {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607d8b;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: 0.8em;
  border-radius: 4px 0 0 4px;
}

/* 👀 Where are you??? 👀  */
.resultsBox[_ngcontent-qaq-c128] {
  border: none;
  padding: 3px;

  height: 230px;
  overflow: scroll;
}

.as-sortable-item[_ngcontent-qaq-c128],
.as-sortable-placeholder[_ngcontent-qaq-c128] {
  display: block;
}
.as-sortable-item[_ngcontent-qaq-c128] {
  touch-action: none;
  -webkit-touch-callout: none;
}
.as-sortable-item-handle[_ngcontent-qaq-c128] {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}
.as-sortable-drag[_ngcontent-qaq-c128] {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}
.as-sortable-hidden[_ngcontent-qaq-c128] {
  display: none !important;
}
.as-sortable-un-selectable[_ngcontent-qaq-c128] {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.contains-task-list[_ngcontent-qaq-c128] {
  list-style-type: disc;
  margin-top: 10px;
  padding-left: 0;
}
.contains-task-list[_ngcontent-qaq-c128]
  input[type='checkbox'][_ngcontent-qaq-c128] {
  margin-right: 5px;
}
.contains-task-list[_ngcontent-qaq-c128] .task-list-item[_ngcontent-qaq-c128] {
  list-style-type: none;
  padding-right: 15px;
  padding-left: 42px;
  margin-right: -15px;
  margin-left: -15px;
  border: 1px solid transparent;
}
.contains-task-list[_ngcontent-qaq-c128]
  .task-list-item[_ngcontent-qaq-c128]
  .contains-task-list[_ngcontent-qaq-c128] {
  margin-top: 4px;
}
.contains-task-list[_ngcontent-qaq-c128]
  .task-list-item[_ngcontent-qaq-c128]
  .task-list-item-checkbox[_ngcontent-qaq-c128] {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}

.waffle-spin[_ngcontent-qaq-c128] {
  -webkit-animation: fa-spin 1s infinite linear;
  -moz-animation: fa-spin 1s infinite linear;
  -ms-animation: fa-spin 1s infinite linear;
}
.as-sortable-un-selectable[_ngcontent-qaq-c128] {
  cursor: move;
}
.card[_ngcontent-qaq-c128] {
  border-radius: 1px;
  font-family: 'Source Sans Pro', sans-serif;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  transition: box-shadow 1s;

  position: relative;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 15px;
}

.card.highlight[_ngcontent-qaq-c128] {
  box-shadow: 0 0 8px 2px rgba(23, 129, 216, 0.7);
}
.card[_ngcontent-qaq-c128] .card-header[_ngcontent-qaq-c128] {
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 3px;

  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;

  background-color: #fefefe;
  cursor: default;
  display: flex;
  height: 32px;
  padding: 5px 5px 0;
  width: 100%;
}

.card[_ngcontent-qaq-c128]
  .card-body[_ngcontent-qaq-c128]
  .result-title[_ngcontent-qaq-c128]:active,
.card[_ngcontent-qaq-c128]
  .card-body[_ngcontent-qaq-c128]
  .result-url[_ngcontent-qaq-c128]:active,
.card[_ngcontent-qaq-c128] .card-flag-icon[_ngcontent-qaq-c128]:active,
.card[_ngcontent-qaq-c128]
  .card-body[_ngcontent-qaq-c128]
  .result-title[_ngcontent-qaq-c128]:hover,
.card[_ngcontent-qaq-c128]
  .card-body[_ngcontent-qaq-c128]
  .result-url[_ngcontent-qaq-c128]:hover,
.card[_ngcontent-qaq-c128] .card-flag-icon[_ngcontent-qaq-c128]:hover,
.card[_ngcontent-qaq-c128]
  .card-body[_ngcontent-qaq-c128]
  .result-title[_ngcontent-qaq-c128]:focus,
.card[_ngcontent-qaq-c128]
  .card-body[_ngcontent-qaq-c128]
  .result-url[_ngcontent-qaq-c128]:focus,
.card[_ngcontent-qaq-c128] .card-flag-icon[_ngcontent-qaq-c128]:focus {
  text-decoration: none;
  outline: none;
}
.card[_ngcontent-qaq-c128]
  .card-body[_ngcontent-qaq-c128]
  .result-title[_ngcontent-qaq-c128]:active,
.card[_ngcontent-qaq-c128]
  .card-body[_ngcontent-qaq-c128]
  .result-url[_ngcontent-qaq-c128]:active,
.card[_ngcontent-qaq-c128]
  .card-body[_ngcontent-qaq-c128]
  .result-title[_ngcontent-qaq-c128]:hover,
.card[_ngcontent-qaq-c128]
  .card-body[_ngcontent-qaq-c128]
  .result-url[_ngcontent-qaq-c128]:hover {
  color: #1272bb;
}
.card-flag-icon[_ngcontent-qaq-c128] {
  font-size: 24px;
  margin-top: 2px;
  margin-left: 6px;
  padding-top: 2px;
  padding-left: 5px;
}

.result-url[_ngcontent-qaq-c128] {
  display: none;
}

.card[_ngcontent-qaq-c128]
  .card-body[_ngcontent-qaq-c128]
  .result-title[_ngcontent-qaq-c128] {
  color: #6542a4;

  font-size: 18px;
  /* font-weight: 600; */

  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: -8px 0 0 0;
  padding: 0px 0 0 3px;
}
.card[_ngcontent-qaq-c128]
  .card-body[_ngcontent-qaq-c128]
  .result-viewed[_ngcontent-qaq-c128] {
  font-size: 22px;
  font-weight: 300;
  line-height: 22px;
  min-height: 22px;
  overflow: hidden;
  margin-right: 20px;
}
.card[_ngcontent-qaq-c128] .card-right[_ngcontent-qaq-c128] {
  flex: 1 0 auto;
  margin-left: 6px;
  text-align: right;
}
.card[_ngcontent-qaq-c128] .card-body[_ngcontent-qaq-c128] {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0 4px;
  position: relative;
  background-color: #fefefe;

  font-size: 14px;
  word-wrap: break-word;
}
.card[_ngcontent-qaq-c128] .card-body.has-prs[_ngcontent-qaq-c128] {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.card[_ngcontent-qaq-c128]
  .card-body[_ngcontent-qaq-c128]
  .result-url[_ngcontent-qaq-c128] {
  color: #54acef;

  flex: 0 0 auto;
  font-weight: bold;
  margin: -6px 0 0 0;
  padding: 0 0 0 0px;
}
.card[_ngcontent-qaq-c128]
  .card-body[_ngcontent-qaq-c128]
  .result-snippet[_ngcontent-qaq-c128] {
  box-sizing: border-box;
  color: #525252;

  font-size: 16px;
  line-height: 18px;
  margin-top: 3px;
  /* margin: -5px 0 0 0; */
  min-height: 22px;
  overflow: hidden;
  padding: 0px 0 0 0px;
  resize: none;
  white-space: normal;
  width: 100%;
}

.table[_ngcontent-qaq-c128] td[_ngcontent-qaq-c128] {
  width: 100%;
  /* border: 1px solid #000; */
  padding: 0px;
  /* transform: scale(0.7); */
}
/* tr {
  transform: scale(0.5)
} */

th.flagged[_ngcontent-qaq-c128],
th.viewed[_ngcontent-qaq-c128],
th.notes[_ngcontent-qaq-c128] {
  width: 10%;
  line-height: 2px;
}
th.viewed[_ngcontent-qaq-c128] {
  text-align: right;
}
th.notes[_ngcontent-qaq-c128] {
  text-align: right;
}
th.result[_ngcontent-qaq-c128] {
  width: 70%;

  line-height: 2px;
}
thead[_ngcontent-qaq-c128] th[_ngcontent-qaq-c128] span[_ngcontent-qaq-c128] {
  visibility: hidden;
}
thead[_ngcontent-qaq-c128]
  th[_ngcontent-qaq-c128]:active
  span[_ngcontent-qaq-c128] {
  color: #1272bb;
  visibility: visible;
}
thead[_ngcontent-qaq-c128]
  th[_ngcontent-qaq-c128]:hover
  span[_ngcontent-qaq-c128] {
  color: #1272bb;
  visibility: visible;
}
thead[_ngcontent-qaq-c128]
  th[_ngcontent-qaq-c128]:focus
  span[_ngcontent-qaq-c128] {
  color: #1272bb;
  visibility: visible;
}

/* .result-list[_ngcontent-qaq-c128] {
} */

.pagination .page-item.active .page-link {
  background-color: var(--main-purple);

  border-color: var(--main-purple);
}

h2[_ngcontent-qaq-c114] {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body[_ngcontent-qaq-c114] {
  margin: 2em;
}
body[_ngcontent-qaq-c114],
input[text][_ngcontent-qaq-c114],
button[_ngcontent-qaq-c114] {
  color: crimson;
  font-family: Cambria, Georgia;
}
button.clear[_ngcontent-qaq-c114] {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}

/* .note-pad:hover {
  background-color: #7bac10;
  cursor: pointer;
} */

/* .note-pad:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
} */

button[_ngcontent-qaq-c114]:hover {
  background-color: #cfd8dc;
}
button[_ngcontent-qaq-c114]:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}
button.clear[_ngcontent-qaq-c114] {
  color: #888;
  margin-bottom: 12px;
}

footer[_ngcontent-qaq-c136] {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 5px;
  text-align: center;
  border-width: 1px;
  border-top-style: solid;
  overflow: hidden;
  line-height: 10px;
}

.search-note-btn {
  color: var(--main-purple);
  padding: 0px 8px;
  /* margin-bottom: 3px; */
}

.search-note-btn-active {
  color: #fff;
}

.search-title {
  justify-content: space-between;
}

.search-action-container {
  justify-content: flex-end;
}

.search-action-btn {
  margin-top: 5px;
  color: var(--main-purple);
}

.search-action-btn:hover {
  /* color: var(--main-purple); */
  text-decoration: underline;
}

.search-action-btn-active {
  margin-top: 5px;
  color: #fff;
}

.search-action-btn-active:hover {
  text-decoration: underline;
}

.queryBox[_ngcontent-qaq-c134] {
  flex: none;
  border: none;

  height: 100%;
  width: 400px;
  padding-right: 5px;
}
.list-group-item[_ngcontent-qaq-c134] {
  width: 400px;
  margin-right: -1px;
}
.list-group-item.active[_ngcontent-qaq-c134] {
  z-index: 2;
  color: #fff;
  background-color: var(--main-purple);
  border-color: var(--main-purple);
}
/* .query-list[_ngcontent-qaq-c134] {
} */

/* Media Queries */

@media (min-width: 560px) {
  .card[_ngcontent-qaq-c128] {
    -webkit-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
  }
}

@media (min-width: 560px) {
  .card[_ngcontent-qaq-c128] .card-header[_ngcontent-qaq-c128] {
    height: 26px;
    padding-top: 1px;
  }
}

@media (min-width: 560px) {
  .card[_ngcontent-qaq-c128]
    .card-body[_ngcontent-qaq-c128]
    .result-snippet[_ngcontent-qaq-c128] {
    font-size: 10px;
    font-size: 10px;
  }
}

/* 13 inch laptop */
@media only screen and (max-width: 800px) and (max-height: 1280px) {
}

/* 15 inch laptop */
@media only screen and (max-width: 1800px) and (max-height: 2880px) {
}

/* 27 inch external monitor */
/* 1680 x 907 */
@media only screen and (max-width: 2880px) and (max-height: 5120px) {
}

/* move import button */
